[Unit]
Description=Puma Service
After=syslog.target
 
[Service]
ExecStart='/usr/local/bin/puma -d'
Type=forking
 
[Install]
WantedBy=multi-user.target
Alias=puma.service

